# Created by https://www.toptal.com/developers/gitignore/api/c++,macos,xcode
# Edit at https://www.toptal.com/developers/gitignore?templates=c++,macos,xcode

### C++ ###
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
build/

# Debug symbols
*.dSYM/

### macOS ###
# General
.DS_Store
.AppleDouble
.LSOverride